.shop {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.cart {
  flex-basis: 100%;
  height: 150px;
  border: 1px solid grey;
}

.product {
  flex-basis: 30%;
  height: 150px;
  border: 1px solid grey;
  margin: 1.5%;
}